@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
  --font-sans: 'Public Sans', sans-serif;

  --color-green-50: #EFFDF5;
  --color-green-100: #D9FBE8;
  --color-green-200: #B3F5D1;
  --color-green-300: #75EDAE;
  --color-green-400: #00DC82;
  --color-green-500: #00C16A;
  --color-green-600: #00A155;
  --color-green-700: #007F45;
  --color-green-800: #016538;
  --color-green-900: #0A5331;
  --color-green-950: #052E16;

  --color-on-secondary-fixed-variant: #286652;
  --color-on-secondary-fixed: #004936;
  --color-tertiary-fixed: #00dcfd;
  --color-on-error: #ffefee;
  --color-background: #f5f7f9;
  --color-on-surface-variant: #595c5e;
  --color-secondary-fixed: #b0f0d6;
  --color-on-tertiary-container: #004955;
  --color-tertiary-fixed-dim: #00cdeb;
  --color-surface: #f5f7f9;
  --color-surface-container-lowest: #ffffff;
  --color-surface-variant: #d9dde0;
  --color-tertiary-dim: #005866;
  --color-inverse-surface: #0b0f10;
  --color-primary-fixed: #69f6b8;
  --color-error: #b31b25;
  --color-on-primary-fixed-variant: #006544;
  --color-surface-tint: #006947;
  --color-inverse-on-surface: #9a9d9f;
  --color-on-tertiary-fixed-variant: #005360;
  --color-error-container: #fb5151;
  --color-surface-container-low: #eef1f3;
  --color-error-dim: #9f0519;
  --color-secondary-dim: #195a46;
  --color-surface-dim: #d0d5d8;
  --color-on-secondary: #c6ffe7;
  --color-tertiary-container: #00dcfd;
  --color-primary-container: #69f6b8;
  --color-on-primary: #c8ffe0;
  --color-on-secondary-container: #1c5c48;
  --color-secondary-fixed-dim: #a2e2c8;
  --color-on-background: #2c2f31;
  --color-on-surface: #2c2f31;
  --color-inverse-primary: #69f6b8;
  --color-on-primary-container: #005a3c;
  --color-outline-variant: #abadaf;
  --color-primary-fixed-dim: #58e7ab;
  --color-on-error-container: #570008;
  --color-on-tertiary: #dcf7ff;
  --color-primary-dim: #005c3d;
  --color-secondary: #286652;
  --color-surface-container-highest: #d9dde0;
  --color-outline: #747779;
  --color-tertiary: #006575;
  --color-surface-bright: #f5f7f9;
  --color-on-tertiary-fixed: #00343c;
  --color-surface-container: #e5e9eb;
  --color-on-primary-fixed: #00452d;
  --color-surface-container-high: #dfe3e6;
  --color-primary: #006947;
  --color-secondary-container: #b0f0d6;
}
